# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment
venv/
env/
.env

# Data folders
input/
output/
output*/
db/
*.db

# Log files
*.log

# IDE configs
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 